.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(170, 171, 238);
  width: 80%;
  margin: auto;
  flex-wrap: wrap;

}
.Container{
  padding: 2rem;
}
.Card{
  width: 20rem;
  min-height: 35rem;
  border-radius: 2rem;
  background-color: white;
  color: black;
}
.Card:hover{
  box-shadow: 5px 5px 15px rgb(159, 151, 151),
              -5px -5px 15px rgb(160, 155, 155);
}

.Btn{
  width: 230px;
  height: 60px;
  border-radius: 2rem;
  background-color: rgb(171, 171, 243);
  color: white;
  margin-bottom: 1rem;
}
li{
  text-align: left;
  list-style-type: none;
  padding: 9px;
  font-weight: 500;
}
.price{
  font-weight: bolder;
  font-size: 30px;
}
.Btn:hover{
  box-shadow: 5px 5px 10px rgb(49, 10, 223),
              -5px -5px 10px rgb(42, 7, 235);
}
.h{
  font-weight: bolder;
  font-size: large;
}